data/
*.zip
*.tar.gz
*.json

venv/
.venv/
env/
__pycache__/
*.py[cod]
*$py.class
*.elc
.pytest_cache/
.ipynb_checkpoints/
.vscode/
.idea/
*.swp
*.swo

.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes